<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/style.css')}}">
</head>
<body>
    <main>
        <nav class="d-flex justify-content-between align-items-center p-2 text-white">
            <a href="/" class="heading text-white px-2 d-flex gap-2 align-items-center text-decoration-none fs-4"><img class="rounded" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAilBMVEUY0SEYzyEAzhIYziEAygAo0C983X6Z5JuA3oM70kAYzCFK00/W89f////l+OVk2GiP4ZKv6bF33Hrr+eyi5qQZySG87L4AwQCn5qnP8dA8z0GG3om06LXE7cVr124ZxyFW0VoZxSEawyH0/PQAvAAFvhIawiHY8tlCyUYawCFEyElfzmIbviIbvCIgSWDvAAABBklEQVR4AcSNVWLDMBAFZQip2ZiZ2W56//P1SabQf0asWWDfQFGYIjamgvm5wTSJoh+Op9P5oqvaA4xzTeP6z5UkN0PXxIfcIIFu0oal8w0mnI1Ph5bN3S3zuKfjyw9Coig44Xrh+APcY9iOolmMrk4cYUsCOAmk7tJGdD6lmZUvmhUFaq0cM5I4ZVAASK+kBduhFcObZRHclpop0dkgSgs8AiGrqiripShWiB5RLh5BVbEaFHEzywfcoK4hQXsjlE4eZdJJ2dd9NYxtEFfDg6xqyF7Sdn1fd+NDYotfNj3Q/TaLM1vxfpSwbRI5ztWne/cgH7RgvPdS/n1imuTB/qeLB9BIEgBr4EBeqVVNiwAAAABJRU5ErkJggg==" alt=""> WeChat</a>
        </nav>
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </main>       
</body>
<script src="{{url_for('static' , filename = 'js/script.js')}}"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</html>