{% extends "base.html" %}
{% block title %}Chat Messages - {{name.capitalize()}}{% endblock %}
{% block body %}
    <div class="user_input mt-4">
        <div class="d-flex justify-content-between">
        <details>
            <summary class="text-white bg-success w-100 px-2 py-1 rounded">Share Code</summary>
            <p>ChatRoom Code : {{code}}</p>
        </details>
         <p><em>Welcomes Dear User , </em><strong>{{name.capitalize()}}</strong></p>   
        </div>
        <div class="container d-flex align-items-center gap-1 fixed-bottom ">
            <input type="text" class="my-1 border rounded w-100 p-2" placeholder="Chat Here {{name.capitalize()}} ..." id="message" name="message">
            <button class="btn" id="send-btn" onClick="sendMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgb(74, 199, 224)" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                  </svg>
            </button>
        </div>
        <div class="messages mb-1" id="messages">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script type="text/javascript">
        var socketio = io();
        
        const messages = document.getElementById("messages");
        const messageInput = document.getElementById("message");
    
        window.onload = function() {
            const savedMessage = localStorage.getItem("savedMessage");
            if (savedMessage) {
                messageInput.value = savedMessage;
            }
        };
    
        const getCurrentTime = () => {
            const date = new Date();
            return date.getHours().toString().padStart(2, '0') + ":" + date.getMinutes().toString().padStart(2, '0');
        };
    
        const createMessage = (name, msg) => {
            const time = getCurrentTime();
            const content = `
            <div class="d-flex gap-2 align-items-start mt-2 p-2">
                <span class="icon text-white fw-bold rounded-circle py-1 px-2">${name[0].toUpperCase()}</span>
                <span class="bg-white p-1 rounded">
                    <strong class="small">${name[0].toUpperCase() + name.slice(1)}</strong>
                    <span class="d-flex gap-5 " style="align-items:end">
                    <i class="small">${msg}</i>
                    <code class="small text-xl-end"><i>${time}</i></code>
                    </span>
                </span>
            </div>`;
            
            messages.innerHTML += content;
    
            const iconElement = messages.querySelectorAll('.icon').item(messages.querySelectorAll('.icon').length - 1);
    
            addIconClass(name[0].toUpperCase(), iconElement);
        };
    
        const addIconClass = (firstChar, iconElement) => {
            let namelist_1 = ['A', 'B', 'C', 'D', 'U'];
            let namelist_2 = ['E', 'F', 'G', 'H', 'T'];
            let namelist_3 = ['J', 'K', 'L', 'M', 'S'];
            let namelist_4 = ['N', 'O', 'P', 'Q', 'R'];
            let namelist_5 = ['V', 'W', 'X', 'Y', 'Z'];
    
            if (namelist_1.includes(firstChar)) {
                iconElement.classList.add("icon_1");
            } else if (namelist_2.includes(firstChar)) {
                iconElement.classList.add("icon_2");
            } else if (namelist_3.includes(firstChar)) {
                iconElement.classList.add("icon_3");
            } else if (namelist_4.includes(firstChar)) {
                iconElement.classList.add("icon_4");
            } else if (namelist_5.includes(firstChar)) {
                iconElement.classList.add("icon_5");
            } else {
                iconElement.classList.add("icon_6");
            }
        };
    
        socketio.on("message", (data) => {
            createMessage(data.name, data.message);
        });
    
        const sendMessage = () => {
            if (messageInput.value == "") 
            return alert(`Message box can't be empty ! `);
    
            localStorage.setItem("savedMessage", messageInput.value);
            
            socketio.emit("message", { data: messageInput.value });
            messageInput.value = ""; 
            localStorage.removeItem("savedMessage"); 
        };
    
        messageInput.addEventListener("input", () => {
            localStorage.removeItem("savedMessage");
        });
    </script>
    
    
    
    {% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}" , "{{msg.message}}")
    </script>
    {% endfor %}
{% endblock %}